<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of account</h2>
      <br>
     
      <hr> <br> Account ID: <%=  account._id %>
      <br> Account_Number: <%=account.Account_Number%>
      <br> Account_Name: <%=account.Account_Name%>
      <br> Account_balance: <%=account.Account_balance%>
      <br> Account_SSN: <%=account.Account_SSN%>
      
      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

      <form method="POST" action="/account/delete/<%= account._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>