<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Account details</h2>
      <hr> <br> Account ID: <%=  account._id %>
      <br> Account_Number: <%=account.Account_Number%>
      <br> Account_Name: <%=account.Account_Name%>
      <br> Account_balance: <%=account.Account_balance%>
      <br> Account_SSN: <%=account.Account_SSN%>
      <hr>

      <form method="get" action="/account">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>