<!-- main  -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="Account_Number">Account_type</label>
      <input  type="number" class="form-control" id="Account_type" name="Account_Number"
        value="<%= account.Account_Number %>" required>
    </div>

    <div class="form-group">
      <label for="Account_Name">Account Name</label>
      <input type="string" class="form-control" id="Account_Name" name="Account_Name"
        value="<%= account.Account_Name %>" required>
    </div>

    <div class="form-group">
      <label for="Account_balance">Account balance </label>
      <input  type="number" class="form-control" id="Account_balance" name="Account_balance" 
      value="<%= account.Account_balance %>" required>
    </div>

    <div class="form-group">
      <label for="Account_SSN">Account_SSN</label>
      <input  type="number" class="form-control" id="Account_SSN" name="Account_SSN"
        value="<%= account.Account_SSN %>" required>
    </div>
  </div>
</div>


<!-- PUT CLIENT SIDE CODE HERE -->
<script></script>