<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <br>
      <br>
      <h1>Home page</h1>
      <br>
      <h3>Watch the address bar.</h3>
      <p>Create GET requests using the address bar.</p>
      <hr>
      <h3>During development, test your api here. </h3>
      <br>

      <h4>Requests to GET JSON</h4>
      <ol>
        <li> <a href="http://localhost:8089/user/findall">http://localhost:8089/user/findall</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/1">http://localhost:8089/user/findone/122</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/91">http://localhost:8089/user/findone/123</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/92">http://localhost:8089/user/findone/124</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/93">http://localhost:8089/user/findone/125</a>
        </li>
        <li> <a href="http://localhost:8089/user/findone/93">http://localhost:8089/user/findone/126</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/user">http://localhost:8089/user</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/create">http://localhost:8089/user/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/edit/91">http://localhost:8089/user/edit/122</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/edit/92">http://localhost:8089/user/edit/123</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/edit/93">http://localhost:8089/user/edit/124</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/edit/93">http://localhost:8089/user/edit/125</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/edit/93">http://localhost:8089/user/edit/126</a>
        </li>
      

        <li>
          <a href="http://localhost:8089/user/delete/91">http://localhost:8089/user/delete/122</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/delete/92">http://localhost:8089/user/delete/123</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/delete/93">http://localhost:8089/user/delete/124</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/delete/93">http://localhost:8089/user/delete/125</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/delete/93">http://localhost:8089/user/delete/126</a>
        </li>
      

        <li>
          <a href="http://localhost:8089/user/details/91">http://localhost:8089/user/details/122</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/details/92">http://localhost:8089/user/details/123</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/details/93">http://localhost:8089/user/details/124</a>
        </li>
        <li>
          <a href="http://localhost:8089/user/details/93">http://localhost:8089/user/details/125</a>
        </li>

        <li>
          <a href="http://localhost:8089/user/details/93">http://localhost:8089/user/details/126</a>
        </li>

     




      </ol>
      <ol>
        <li> <a href="http://localhost:8089/transaction/findall">http://localhost:8089/transaction/findall</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/1">http://localhost:8089/transaction/findone/101</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/91">http://localhost:8089/transaction/findone/102</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/92">http://localhost:8089/transaction/findone/103</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/93">http://localhost:8089/transaction/findone/104</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/93">http://localhost:8089/transaction/findone/105</a>
        </li>
        <li> <a href="http://localhost:8089/transaction/findone/93">http://localhost:8089/transaction/findone/106</a>
        </li>
      </ol>
      <br>
      <h4>Requests to GET a view</h4>
      <ol>
        <li>
          <a href="http://localhost:8089/transaction">http://localhost:8089/transaction</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/create">http://localhost:8089/transaction/create</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/edit/91">http://localhost:8089/transaction/edit/101</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/92">http://localhost:8089/transaction/edit/102</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/93">http://localhost:8089/transaction/edit/103</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/93">http://localhost:8089/transaction/edit/104</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/93">http://localhost:8089/transaction/edit/105</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/edit/93">http://localhost:8089/transaction/edit/106</a>
        </li>

        <li>
          <a href="http://localhost:8089/transaction/delete/91">http://localhost:8089/transaction/delete/101</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/92">http://localhost:8089/transaction/delete/102</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/93">http://localhost:8089/transaction/delete/103</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/93">http://localhost:8089/transaction/delete/104</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/93">http://localhost:8089/transaction/delete/105</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/delete/93">http://localhost:8089/transaction/delete/106</a>
        </li>


        <li>
          <a href="http://localhost:8089/transaction/details/91">http://localhost:8089/transaction/details/101</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/92">http://localhost:8089/transaction/details/102</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/93">http://localhost:8089/transaction/details/103</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/93">http://localhost:8089/transaction/details/104</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/93">http://localhost:8089/transaction/details/105</a>
        </li>
        <li>
          <a href="http://localhost:8089/transaction/details/93">http://localhost:8089/transaction/details/106</a>
        </li>

      </ol>
    </div>
  </div>
</div>





</ol>
<ol>
  <li> <a href="http://localhost:8089/category/findall">http://localhost:8089/category/findall</a>
  </li>
  <li> <a href="http://localhost:8089/category/findone/1">http://localhost:8089/category/findone/101</a>
  </li>
  <li> <a href="http://localhost:8089/category/findone/91">http://localhost:8089/category/findone/102</a>
  </li>
  <li> <a href="http://localhost:8089/category/findone/92">http://localhost:8089/category/findone/103</a>
  </li>
  <li> <a href="http://localhost:8089/category/findone/93">http://localhost:8089/category/findone/104</a>
  </li>
  <li> <a href="http://localhost:8089/category/findone/93">http://localhost:8089/category/findone/105</a>
  </li>
  <li> <a href="http://localhost:8089/category/findone/93">http://localhost:8089/category/findone/106</a>
  </li>
</ol>
<br>
<h4>Requests to GET a view</h4>
<ol>
  <li>
    <a href="http://localhost:8089/transaction">http://localhost:8089/transaction</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/create">http://localhost:8089/category/create</a>
  </li>

  <li>
    <a href="http://localhost:8089/category/edit/91">http://localhost:8089/category/edit/101</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/edit/92">http://localhost:8089/category/edit/102</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/edit/93">http://localhost:8089/category/edit/103</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/edit/93">http://localhost:8089/category/edit/104</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/edit/93">http://localhost:8089/category/edit/105</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/edit/93">http://localhost:8089/category/edit/106</a>
  </li>

  <li>
    <a href="http://localhost:8089/category/delete/91">http://localhost:8089/category/delete/101</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/delete/92">http://localhost:8089/category/delete/102</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/delete/93">http://localhost:8089/category/delete/103</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/delete/93">http://localhost:8089/category/delete/104</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/delete/93">http://localhost:8089/category/delete/105</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/delete/93">http://localhost:8089/category/delete/106</a>
  </li>


  <li>
    <a href="http://localhost:8089/category/details/91">http://localhost:8089/category/details/101</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/details/92">http://localhost:8089/category/details/102</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/details/93">http://localhost:8089/categorycategory/details/103</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/details/93">http://localhost:8089/category/details/104</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/details/93">http://localhost:8089/category/details/105</a>
  </li>
  <li>
    <a href="http://localhost:8089/category/details/93">http://localhost:8089/category/details/106</a>
  </li>

</ol>
</div>
</div>
</div>




