<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of category</h2>
      <br>
     
      <hr> <br> category ID: <%=  category._id %>
      <br> Account_type: <%=category.Account_type%>
      <br> Account_Number: <%=category.Account_Number%>
      <br> Credit_card_number: <%=category.Credit_card_number%>
      <br> Debit_card_number: <%=category.Debit_card_number%>
      
      <form method="get" action="/category">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

      <form method="POST" action="/category/delete/<%= category._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>