<!-- main  -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="Account_type">Account_type</label>
      <input  type="string" class="form-control" id="Account_type" name="Account_type"
        value="<%= category.Account_type %>" required>
    </div>

    <div class="form-group">
      <label for="Account_Number">Account Num</label>
      <input type="number" class="form-control" id="Account_Number" name="Account_Number"
        value="<%= category.Account_Number %>" required>
    </div>

    <div class="form-group">
      <label for="Credit_card_number">Credit card number </label>
      <input  type="number" class="form-control" id="Credit_card_number" name="Credit_card_number" 
      value="<%= category.Credit_card_number %>" required>
    </div>

    <div class="form-group">
      <label for="Debit_card_number">Debit_card_number</label>
      <input  type="number" class="form-control" id="Debit_card_number" name="Debit_card_number"
        value="<%= category.Debit_card_number %>" required>
    </div>
  </div>
</div>


<!-- PUT CLIENT SIDE CODE HERE -->
<script></script>