<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of user</h2>
      <br>
      <br> ID: <%=  user._id %>
      <br> user_name: <%=user.user_name%>
      <br> user_email: <%=user.user_email%>
      <br> balance: <%=user.balance%>
      <br> phone_number: <%=user.phone_number%>
      <br> account_number: <%=user.account_number%>




      
      <hr>
      
      <form method="get" action="/user">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>
      
      <form method="POST" action="/user/delete/<%= user._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>