<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">
      <h1> Rajesh Tarigopula</h1>
      <h2> <a href=https://github.com/rajesh4322>GitHub</a></h2>
      <h2> <a href=https://linkedin.com/in/rajesh-tarigopula-82500b128>Linkedin</a></h2>

      <br>
      <br>
    </div>
  </div>
</div>