<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Confirm deletion of transaction line item</h2>
      <br>
     
      <hr> <br> Transaction ID: <%=  transaction._id %>
      <br> Transaction Num: <%=transaction.transactionNum%>
      <br> Transaction Type: <%=transaction.transactionType%>
      <br> Balance: <%=transaction.balance%>
      <br> Date of Transaction: <%=transaction.dateOfTransaction%>
      
      <form method="get" action="/transaction">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

      <form method="POST" action="/transaction/delete/<%= transaction._id %>">
        <input type="submit" value="Delete this item" class="btn btn-danger pull-right" />
      </form>

    </div>
  </div>
</div>