<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h2>Transaction details</h2>
      <br>
      <br> Transaction ID: <%=  transaction._id %>
      <br> Transaction Num: <%=transaction.transactionNum%>
      <br> Transaction Type: <%=transaction.transactionType%>
      <br> Balance: <%=transaction.balance%>
      <br> Date of Transaction: <%=transaction.dateOfTransaction%>
      <hr>

      <form method="get" action="/transaction">
        <input type="submit" value="Return to list" class="btn btn-caution" />
      </form>

    </div>
  </div>
</div>