<!-- main  -->
<div class=row>
  <div class="col col-xs-12">

    <div class="form-group">
      <label for="transactionNum">Transaction Num</label>
      <input  type="number" class="form-control" id="transactionNum" name="transactionNum"
        value="<%= transaction.transactionNum %>" required>
    </div>

    <div class="form-group">
      <label for="transactionType">Trasnaction Type</label>
      <input type="string" class="form-control" id="transactionType" name="transactionType"
        value="<%= transaction.transactionType %>" required>
    </div>

    <div class="form-group">
      <label for="balance">Balance </label>
      <input  type="number" class="form-control" id="balance" name="balance" 
      value="<%= transaction.balance %>" required>
    </div>

    <div class="form-group">
      <label for="dateOfTransaction">dateOfTransaction</label>
      <input  type="string" class="form-control" id="dateOfTransaction" name="dateOfTransaction"
        value="<%= transaction.dateOfTransaction %>" required>
    </div>
  </div>
</div>


<!-- PUT CLIENT SIDE CODE HERE -->
<script></script>