<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1>Vamshi Krishna Yellamanchili </h1>
      <h2> <a href=https://github.com/yellamanchili>GitHub</a></h2>
      <h2> <a href=https://bitbucket.org/yellamanchili_vamshi>Bitbucket</a></h2>


      <br>
      <br>
    </div>
  </div>
</div>