<br>
<br>
<div class="container-fluid">
  <div class=row>
    <div class="col col-md-12">

      <h1>Vinusha Sandadi</h1>

      <h2> <a href=https://github.com/vinusha09>GitHub</a></h2>
      <h2> <a href=https://www.linkedin.com/feed>Linkedin</a></h2>


      <br>
      <br>
    </div>
  </div>
</div>